.sberLogo {
  height: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.header_container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.logo-header {
  width: 100px;
}

.logo-header-mobile {
  width: 60px;
}

.player-name {
  text-align: center;
  font-size: 80%;
}

.info-container {
  display: flex;
  flex-direction: column;
}

