.title_container {
  height: 30%;
  width: auto;
}
.sberLogo {
  height: 100%;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

.logo-header {
  width: 100px;
}

.player-name {
  text-align: center;
}

.info-container {
  display: flex;
  flex-direction: column;
}

